<!-- User View -->
<!-- Social Media Buttons in user Form -->

<div class="row">
  <!-- Facebook -->
  <div class="col-xs-2">
    <div fb-like share-url="{{shareUrl}}"></div>
  </div>

  <!-- Twitter -->
  <div class="col-xs-2">
    <div tweet share-url="{{shareUrl}}"></div>
  </div>

  <!-- Google Plus -->
  <div class="col-xs-2">
    <div google-plus share-url="{{shareUrl}}"></div>
  </div>

</div>