<!DOCTYPE html>
<!-- The default error view-->
<html ng-app="profile" lang="en">
<head>
<link rel="stylesheet" href="<%= environment.assetsBase %>stylesheets/bootstrap/3.1.1/bootstrap.min.css?<%= environment.deployTime %>">
<link rel="stylesheet" href="<%= environment.assetsBase %>stylesheets/AdminLTE.css?<%= environment.deployTime %>">
</head>
<body>

<div class="error-page">
                        <h2 class="headline text-info"> 404</h2>
                        <div class="error-content">
                            <h3><i class="fa fa-warning text-yellow"></i>What If I Told You That Page Doesn't Exist?</h3>
                            <p>
                                This might be because the page has been removed, had its name changed, or is temporarily unavailable. Sorry about that.
                                </p>
                                <p>
                                Try checking whether you typed the URL correctly. Otherwise, please return to the <a href="/">homepage</a> or let us know about it at [<a href="mailto:it.sub@noname.com">it.sub@noname.com</a>].
                            </p>
                        </div><!-- /.error-content -->
                    </div><!-- /.error-page -->

</body>
</html>
