<!DOCTYPE html>
<html>
<head>
<title>Bootstrap test page</title>

</head>
<body>
<link rel="stylesheet" href="stylesheets/bootstrap/3.1.1/bootstrap.min.css">	
<style>
	#appId .sub_reqText{
		color:#d9534f;
	}
</style>
<div id="appId" value="535133550252443839142f2d" class="appId container"> 
    <form id="myAppForm" role="form" action="" novalidate>
    </form>
</div>
</body>
<script src="/javascripts/resources/jquery/jquery.js"></script>
<script src="/javascripts/resources/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/embed/0.0.4/embed-bootstrap.js"></script>

</html>