<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>    
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
	<% include partials/css.ejs %>  
</head>
<body>	
	<div> 
		<p>
			Hello World
		</p>
	    <p>
			<img src="images/sub_logo.png">
		</p>
	</div>           
</body>
</html>