<!DOCTYPE html>
<html ng-app="profile" lang="en" class="bg-black">
<head>
    <title>Sign in</title>
    <% include partials/css.ejs %>
</head>
<body ng-controller="SettingsCtrl" class="login bg-black" ng-cloak>

<% include partials/login-and-register-forms.ejs %>
<% include partials/javascripts.ejs %>
</body>
</html>
